*{
    margin: 0;
    padding: 0;
}
.cen{
    width: 1000px;
    margin: 0 auto;
}

.cl{
    clear: both;
}

ul li{
    list-style: none;
}

body{
    font-family: "微软雅黑";
    /* height: 3000px; */
}

 /* head begin  */
.header{
    height: 58px;
    width: 100%;
    background:#191D3A;
}
.header_1{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.header h1{
    float: left;
    margin-right: 46px;
    padding-left: 17px;
    width: 164px;
    height: 55px;
}
.header .logo a{
 display: block;
 width: 164px;
 height: 55px;
 background: url(../images/logo.png) no-repeat; 
 text-indent: -9999em;
}
/* 导航 */
.header .nav{
    float: left;
    list-style: none;
}
.header li{
    float: left;
    width: 87px;
    line-height: 58px;
    height: 58px;
    border-left: 1px solid #252947;
}
.header .current {
    color: #e2e4ed;
    background: #252947;
}
.header .nav li a {
    display: block;
    width: 87px;
    height: 58px;
    color: #818481;
    text-align: center;
    text-decoration: none;
    font-size:14px;
}
 
.header .nav li a:hover {
    color: #e2e4ed;
     background: #252947;
}

.header .nav .last{
    border-left: 1px solid #252947;
}
/* 加入我们 */
.header .join{
    float: left;
}
.header .join a{
    display: block;
     width: 98px;
    height:32px;
    font-size: 14px;
    margin: 12px 0 0 10px;
    border: 1px solid #38b774;
    background:  #3aca7a;
    text-align: center;
    line-height: 32px;
    border-radius: 3px;
     text-decoration: none;
     color: #fff;
}
.header .join a:hover{
background: #38b774;
border: 1px solid #3aca7a;
}
.header .header_1 .hh{
   position: absolute;
   top: 20px;
   right: 0;
   font-size: 14px;
}
.header .hh .aa1{
     color: #38b774;
     text-decoration: none;
}
.header .hh .aa2{
    color: #818481;
    text-decoration: none;
    padding-left: 7px;
}
.header .hh a:hover{
    color: #38b774;
    text-decoration: none;
}
/* header end */

/* benner begin */
.benner{
    position: relative;
    height: 460px;
    background: url(../images/banner.jpg) no-repeat center ;
}
.benner .dian1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 120px;
    height: 12px;
    margin-left: -40px;
}
.benner .dian1 ul li{
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    margin-right: 15px;
    text-indent: -9999em;
    opacity: 0.5;
    cursor: pointer; 
    z-index: 5;
}
.benner .dian1 ul .on{
    background: #fff;
    opacity: 1;
}
/* benner end */

/* cenner begin */
/* product begin */
.content{
    overflow: hidden;
    position: relative;
    height: 680px; 
    padding-top: 50px;
    background: url(../images/indexmainbg.jpg) no-repeat center bottom;
}

.content .product{
    height: 230px;
    border-bottom:1px solid #dbe1e7;
}
.content .product ul li{
    float: left;
    width: 218px;
    margin-right: 43px;
}
.content .product ul .last2{
    width: 217px;
    margin-right: 0;
}
.content .product ul li .pro_img img{
    width: 100%;

}
.content .product ul li h3{
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}
.content .product ul li .play{
    text-align: center;
}
.content .product ul li .play a{
    font:12px/12px "微软雅黑";
    text-decoration:none;
    color: #3aca7a;
    background: url(../images/sanjiaoxing.png)no-repeat right center ;
    padding-right:10px;
}
.content .dian2 {
    position: absolute;
    top: 275px;
    left: 50%;
    width: 96px;
    height: 12px;
    background: #fff;
    margin-left: -40px;
}
.content ul .dian2 li{
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #818481;
    margin-right: 15px;
    text-indent: -9999em;
    opacity: 0.5;
    cursor: pointer;
    z-index: 5;
}
 .content .dian2  .on{
    width: 12px;
    background: #38b774;
    opacity: 1;
} 
.content .dian2 .lis{
    margin-right: 0;
}
/* product end */
/* info begin */
.content .info{
    margin-top: 53px;
}
/* left begin */
.content .info .left{
    position: relative;
    float: left;
    background: url(../images/bynewsbg.jpg);
    width: 500px;
   padding-top: 121px;
}
/* more begin */
.content .info .left .more {
    display: block;
    float: left;
    position: absolute;
    top:45px;
    left: 220px;
    width: 64px;
    height: 26px;
    color: #30bd72;
    border: 1px solid #38b774 ;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}

.content .info .left .more:hover{
    color: #fff;
    background: #30bd72;
    border:1px solid #3aca7a;
  /* background: url(../images/more2.png); */
}
/* more end */
.content .info .left ul{
    padding: 10px;
}
.content .info .left ul li {
    height: 49px;
    border-bottom: 1px solid #dbe1e7;
}
.content .info .left ul li a{
float: left;
display: block;
height: 49px;
line-height: 49px;
font-size:14px;
text-decoration: none;
color: #444866;
text-align: left;
}

.content .info .left ul li a:hover{
color:#30bd72;
}

.content .info .left ul li span{
    display: block;
    float: right;
    height: 49px;
    line-height: 49px;
    margin-right: 10px;
    font-size: 14px;
    color:#afbecf;
}
/* left end */


/* right begin */
.content .info .right{
    position: relative;
    float: left;
    width: 500px;
    padding-top: 121px;
    background: url(../images/byhrbg3.jpg);
}
.content .info .right .zhuan{
    display: block;
    float: left;
    position: absolute;
    top:40px;
    left: 82px;
}
.content .info .right h3{
    color: #fff;
    font-size: 12px;
}

/* more begin */
.content .info .right .more2 {
    display: block;
    float: left;
    position: absolute;
    top:45px;
    left: 220px;
    width: 64px;
    height: 26px;
    color: #fff;
    border: 1px solid #fff ;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}

.content .info .right .more2:hover{
    display: block;
    width: 67px;
    height: 28px;
    color: #3aca7a;
    background: #fff;
    border:1px solid #fff;
}
/* more end */

.content .info .right ul{ 
    width: 306px;
    padding: 10px;
}
.content .info .right ul li {
    height: 42px;
    border-bottom: 1px solid #6fdea3;
}
.content .info .right ul li a{
float: left;
display: block;
height: 42px;
line-height:42px;
font-size:14px;
text-decoration: none;
color: #fff;
text-align: left;
}

.content .info .right ul li a:hover{
color:#fff;
}

/* info end */

/* footer begin */
.footer{
    width:100% ;
    height: 191px;
    font-size: 12px;
    background: #191D3A;
    color: #6c6e7e;
}

.footer .ban{
    position: relative;
    text-align: left;
    line-height: 95px;
}

.footer p {
    height: 50px;
}

.footer span {
    height: 50px;
    margin-top: 20px;
}

.footer p a{
    text-decoration: none;
    color: #6c6e7e;
}

.footer p a:hover{
    text-decoration: none;
    color: #f7f8ff;
}
.footer  img{
    position: absolute;
    right:210px;
    bottom: 20px;
    width: 35px;
    height: 50px;
}
/* footer end */